.home {
    .hero {
        height: 500px;
        background-color: antiquewhite;
        background-image: url(../images/hero.png);
        display: flex;
        position: relative;
        text-align: center;
        justify-content: center;
        .read-more {
            @include site-button($radius: 0);
            width: 121px;
            position: absolute;
            top: 367px;
        }
        .hero-text {
            color: white;
            position: absolute;
            top: 162px;
            h1 {
                font-size: 60pt;
                font-family: Calibri;
                font-weight: lighter;
            }
            h2 {
                margin: 27px 19%;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-weight: bold;
                font-size: 20pt;
            }
        }
    }

    .promo-tours {
        margin-top: -50px;
        min-height: 304px;
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 0 18%;
    }

    .booking {
        min-height: 400px;
        padding: 50px;
        .booking-wrapper {
            width: 64%;
            max-width: 818px;
            margin: 0 auto;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            h1 {
                font-size: 46pt;
                font-family: Calibri;
                font-weight: lighter;
            }
            input {
                border: 1px solid #79ADDC;
                padding-left: 20px;
                font-size: 18pt;
            }
            textarea {
                border: 1px solid #79ADDC;
                font-size: 18pt;
            }
            select {
                border: 1px solid #79ADDC;
                font-size: 18pt;
            }

            .short-input {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 20px;
                .short-input-left {
                    max-width: 344px;
                    width: 42%;
                    height: 58px;
                }
                .short-input-right {
                    max-width: 453px;
                    width: 55%;
                    height: 58px;
                }
            }
            .long-input {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 20px 0;
                font-size: 18pt;
                input {
                    width: 85%;
                    max-width: 698px;
                    height: 58px;
                }
            }
            .booking-dropdowns {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 20px 0;
                font-size: 18pt;
                select {
                    height: 58px;
                    width: 103px;
                    padding-left: 20px;
                }
            }
            .booking-message {
                width: 100%;
                height: 192px;
                padding: 20px 0 0 20px;
            }
            .booking-submit {
                @include site-button($radius: 30px);
                width: 100%;
                height: 60px;
                margin-top: 33px;
            }
        }
    }
}