footer {
    background-color: #79ADDC;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    p {
        font-weight: bold;
        padding-top: 15px;
        letter-spacing: -0.5px;
    }
    .sm-icons {
        width: 113px;
        display: flex;
        justify-content: space-between;
        img {
            width: 22.5px;
            height: 22.5px;
        }
    }
}