nav {
    z-index: 999;
    height: 90px;
    max-width: 1006px;
    width: 78.6%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    .links {
        max-width: 524px;
        width: 52%;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: white;
        
        a {
            color: white;
            text-decoration: none;
            text-transform: lowercase;
        }
    }

    .bottom-line {
        max-width: 980px;
        width: 97.4%;
        height: 2px;
        background-color: white;
        position: absolute;
        bottom: 0;
    }
}